/* .ms-Icon */
.glyphicon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: Office365Icons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    speak: none;
}

/* .ms-Icon--chevronThickLeft:before */
.glyphicon-menu-left:before {
    content: '\e237';
}

/* ms-Icon--tag */
.glyphicon-tags:before {
    content: '\e279';
}

/* ms-Icon--calendar */
.glyphicon-calendar:before {
    content: '\e011';
}

/* ms-Icon--pencil */
.glyphicon-pencil:before {
    content: '\e027';
}

/* ms-Icon--quote */
.glyphicon-open-file:before {
    content: '\e18f';
}

/* ms-Icon--link */
.glyphicon-link:before {
    content: '\e08f';
}

/* ms-Icon--arrowLeft */
.glyphicon-chevron-left:before {
    content: '\e049';
}

/* ms-Icon--arrowRight */
.glyphicon-chevron-right:before {
    content: '\e04a';
}

/* ms-Icon--plus */
.glyphicon-plus:before {
    content: '\e004';
}

/* ms-Icon--x */
.glyphicon-remove:before {
    content: '\e042';
}