form { font-size: 0; }

html {
  /*height: 100vh;*/
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  /*min-height: 100vh;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Utility classes */

.selected {
    background-color: lightgrey; 
}

.highlighted {
    background-color: yellow ;
}

.show { /* TODO: refactor */
  display: block !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.view {
    opacity: 0;
}

.bar {
    width: 100%;
}

.full-container-size {
    width: 100%;
    height: 100%;
}

.padding {
    padding: 15px;
    box-sizing: border-box;
}

.padding-bottom {
    padding: 0px 0px 15px 0px;
    box-sizing: border-box;
}

.padding-top {
    padding: 15px 0px 0px 0px;
    box-sizing: border-box;
}

.no-content-message-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.centered-message {
    padding: 5px;
    color: #A6A6A6;
    background-color: inherit;
    position: relative;
    /*top: -50%;*/
    margin-top: -5%;
    left: -50%;
    text-align: center;
}

/* Containers */

.table-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; /* this will be treated as a Minimum!
                     It will stretch to fit content */
}

.table-row {
    display: table-row;
    height: 0px; /* take as little as possible, 
                    while still fitting content */
}

.table-cell {
    display: table-cell;
}

.table-cell-rest {
    display: table-cell;
    height: 100%; /* take as much as possible */
}

.table-cell-content-container {
    height: 100%;
    overflow: auto;
    background-color: #f8f8f8;
}

.table-cell-content-to-fix {
    height: 0px;
}

/* Common app styling */

#activity-indicator,
.loading-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

#activity-indicator:after,
.loading-indicator:after {
    position: absolute;
    content: '';
    height: 80px;
    width: 80px;
    border: 1px solid #71AFE5;
    border-top-color: transparent;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;

    -webkit-animation: spin 0.6s infinite linear;
    -moz-animation: spin 0.6s infinite linear;
    -o-animation: spin 0.6s infinite linear;
    animation: spin 0.6s infinite linear;
}

.loading-indicator > img {
    display: none;
}

#content-main {
    background: #fff;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#project {
    z-index: 100;
}

#debug {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
}

/* Log */

#log {
    background-color: rgba(0, 0, 0, 0.8);
    color: Chartreuse ;
    position: absolute;
    min-height: 200px;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
}

/* Notification message */

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

#notification-message a:link,
#notification-message a:visited,
#notification-message a:hover,
#notification-message a:active {
    color: #EEE;
    text-decoration: underline;
}

#notification-message #notification-message-header {
    font-size: medium;
    margin-bottom: 10px;
}

#notification-message #notification-message-close {
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.submit-button {
    margin-top: 20px;
}

.additional-links {
    margin-top: 20px;
}

/* User details */

#user-details .ms-Persona-optionalText, 
#user-details .ms-Persona-primaryText, 
#user-details .ms-Persona-secondaryText, 
#user-details .ms-Persona-tertiaryText {
    width: 100%;
}

/* Autocomplete */

ul.dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

ul.dropdown-menu > li.textcomplete-item {
    box-sizing: border-box;
}

ul.dropdown-menu > li.textcomplete-item > a {
    text-decoration: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

ul.dropdown-menu > li.textcomplete-item.active > a, 
ul.dropdown-menu > li.textcomplete-item.active > a:hover, 
ul.dropdown-menu > li.textcomplete-item.active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

/* Horizontal links list */

ul.divided {
    margin: 0px;
    list-style: none;
}

ul.divided:after {
    clear: both;
    content: "";
    display: block;
}

ul.divided > li {
    float: left;
}

ul.divided > li+li { 
    border-left: 1px solid #C8C8C8;
    padding-left: 5px;
    margin-left: 5px;
} 

.ms-Label.ms-fontColor-neutralTertiary {
    color: #a6a6a6;
    font-size: 12px;
}

.ms-Dropdown.is-open .ms-Dropdown-items, 
.ms-Dropdown.ms-Dropdown--open .ms-Dropdown-items {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    max-width: 100%;
}

/* Pivot content tabs. */

.pivot-content-container {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pivot-tab {
    display: none;
    float: left;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.pivot-tab.is-selected {
    display: block;
}

.pivot-tab.table-container.is-selected {
    display: table;
}

/* Insertion buttons. */

.insertion-buttons-row {
    min-height: 47px; /* Fix for IE */
}

.insertion-buttons-container {
    margin: 0 -8px;
}

.insertion-button {
    display: block;
    width: 100%;
    border-left-color: white;
    border-left-width: 14px;
    white-space: nowrap;
    min-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    font-size: 12px;
}

.insertion-button:before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 32px;
    left: 0px;
    background: white;
    top: 0px;
}

.insertion-button:after {
    content: '';
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-radius: 0px 2px 0px 0px;
    border-style: solid;
    border-width: 0px;
    border-right-width: inherit;
    border-top-width: inherit;
    border-right-color: inherit;
    border-top-color: inherit;
    background: inherit;
    width: 21px;
    display: block;
    height: 21px;
    left: 11px;
    position: absolute;
    top: 5px;
}

.ms-Icon.small {
    font-size: 8px;
    vertical-align: middle;
    height: 12px;
}

/* Article list */

#article-list .ms-ListItem-primaryText {
    font-size: 14px;
    line-height: 2;
    top: -2px;
    color: #767676;
}

@media screen {
    .pc {
        display: none;
    }
}

/* Article content. */

.article-content {
    background-color: #f8f8f8;
    position: relative; /* set proper size to absolutely positioned article container */
}

/* Auto */

#auto-content .ms-Button.ms-Button--hero .ms-Button-icon .ms-Icon {
    border: none;
}

/* Slide left and fade in animations */

.slide-left {
  -webkit-animation-name: fade-in, slide-left;
     -moz-animation-name: fade-in, slide-left;
      -ms-animation-name: fade-in, slide-left;
       -o-animation-name: fade-in, slide-left;
          animation-name: fade-in, slide-left;

  -webkit-animation-duration: 0.367s;
     -moz-animation-duration: 0.367s;
      -ms-animation-duration: 0.367s;
       -o-animation-duration: 0.367s;
          animation-duration: 0.367s;

  -webkit-animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
     -moz-animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
       -o-animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
          animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);

  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translate3d(20px, 0px, 0px);
    transform: translate3d(20px, 0px, 0px);
  }

  to {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slide-left {
  from {
    transform: translate3d(20px, 0px, 0px);
  }

  to {
    transform: translate3d(0px, 0px, 0px);
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
  }

  to {
    opacity: 1;
  }
}

/* Spinning animation */

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}